$main_dark: rgb(0, 90, 170); // ultramarine
$main_light: rgb(0, 166, 214); // giotto blue

body,
html {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: 16px;
    color: #444;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    color: $main_dark;
    text-decoration: none;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
}

h2,
h3,
h4,
h5 {
    word-break: break-word;
}

h2 {
    border-bottom-style: dashed;
}

main {
    flex: 1;
}

main p {
    word-break: break-word;
}

main p,
main li {
    line-height: 2;
}

header.site {
    display: flex;
    flex-direction: column;
}

@media(min-width: 800px) {
    header.site {
        align-items: center;
    }
}

header.site h1 a {
    width: 800px;
    padding-left: .5em;
    max-width: 100%;
    margin: 0 auto;
}

header.site h1 {
    display: flex;
    font-size: 2em;
    width: 100%;
    margin-top: 0;
}

header.site nav {
    width: 100%;
    max-width: 800px;
}

header.site nav a {
    color: #444;
    vertical-align: sub;
}

header.site ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header.site li {
    list-style: none;
    margin: 1em;
    position: relative;
}

header.site li .text-bottom {
    position: absolute;
    font-size: 10px;
    bottom: -1em;
    left: 0;
}

@media(min-width: 800px) {
    header.site li .text-bottom {
        position: absolute;
        font-size: 10px;
        bottom: unset;
        top: -1.2em;
        left: 0;
    }
}

header.site li .text-up {
    position: absolute;
    font-size: 10px;
    top: -1.2em;
    left: 0;
}

hr {
    border: none;
    border-bottom: 1px solid #ccc;
}

.ad-wrapper {
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
}

.adsbygoogle {
    width: 320px;
    height: 100px;
}

@media(min-width: 800px) {
    .adsbygoogle {
        width: 728px;
        height: 90px;
    }
}

footer.site {
    background-color: $main_dark;
    margin-top: 1em;
    color: #444;
    display: flex;
    flex-direction: column;
    justify-content: right;
}

footer.site .link-wrapper {
    max-width: 800px;
    width: 800px;
    margin: 1em auto 0 auto;
}

footer.site .link-wrapper a {
    color: white;
    margin: 0;
    margin-right: 1em;
    text-decoration: underline;
}

footer.site .generated {
    max-width: 800px;
    width: 800px;
    margin: 1em auto;
    color: lightgray;
}

code.hljs {
    overflow-x: auto;
    border: 1px solid #444;
}

.translated {
    border: .1em solid $main_dark;
    padding: .5em;
    font-weight: bold;

    ul {
        list-style: none;
        display: inline;
        padding: 0;

        li {
            display: inline;
        }
    }
}

.entry-item {
    margin-bottom: 2em;

    h3 {
        font-size: 1.2em;
        margin: 0;
    }
}