{{ define "title" }}{{ if .Params.tags }}#{{ index .Params.tags 0 }}{{ end }} {{ .Title }} - {{ .Site.Title }} {{ end }}
{{ define "head" }}
<meta name="description" content="{{ if .Params.Excerpt }} {{ .Params.Excerpt }} {{ else }} {{ .Summary }} {{ end }}">

{{ $style := resources.Get "/sass/single.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/d.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/go.min.js"></script>
<script>
    hljs.configure({ languages: [] })
    hljs.initHighlightingOnLoad();
</script>

{{ partial "head/mathjax" . }}

<script>
    document.addEventListener("DOMContentLoaded",function(){
        let elems = document.querySelectorAll(".footnote-ref");
        for (const e of elems) {
            let url = new URL(e.href);
            let footnote = document.getElementById(url.hash.substr(1));
            let text = footnote.innerText.trim().replace("↩︎","");
            e.title = text;
        }
    });
</script>

{{ end }}{{ define "main" }}
{{ if .IsTranslated }}
<div class="translated">
    <span>Translation available:</span>
    <ul>
        {{ range .Translations }}
        <li>
            <a href="{{ .Permalink }}" hreflang="{{ .Lang }}">{{ .Lang }}</a>
        </li>
        {{ end}}
    </ul>
</div>
{{ end }}
<header>
    <h2>
        {{ if isset .Params "tags" }}
        <a href="/tags/{{ index .Params.tags 0 }}">#{{ index .Params.tags 0 }}</a>
        {{ end }}
        {{ .Title }}
    </h2>
    <p>
        {{ if isset .Params "date" }}
            Created: <time>{{ .Date.Format "2006-01-02" }}</time>
            {{ if and .GitInfo (isset .Params "lastmod") }}
            /
            {{ else }}
            <br />
            {{ end }}
        {{ end }}

        {{ if and .GitInfo (isset .Params "lastmod") }}
            Last modified: <time>{{ .Lastmod.Format "2006-01-02" }}</time> (<a href="https://github.com/kotet/blog.kotet.jp/commit/{{ .GitInfo.Hash }}">{{ .GitInfo.AbbreviatedHash }}</a>)<br />
        {{ end }}
        {{ range .Params.tags }} <a href="/tags/{{ . }}">#{{ . }}</a> {{ end }}
    </p>
    {{ partial "old-post" . }}
    {{ partial "toc" . }}
</header>
<article>{{ .Content }}</article>
<footer>
    <h2>
        {{ if isset .Params "tags" }}
        <a href="/tags/{{ index .Params.tags 0 }}">#{{ index .Params.tags 0 }}</a>
        {{ end }}
        {{ .Title }}
    </h2>
    <p>
        {{ if isset .Params "date" }}<time>{{ .Date.Format "2006-01-02" }}</time>{{ end }}
        {{ range .Params.tags }} <a href="/tags/{{ . }}">#{{ . }}</a> {{ end }}
    </p>
</footer>
{{ end }}