{{ if .Site.IsServer }}
<ins class="adsbygoogle"
     style="display:block;background:mediumturquoise;"
     data-ad-client="ca-pub-8443812672116269"
     data-ad-slot="2914874272"
     data-ad-format="horizontal"
     data-full-width-responsive="true"></ins>
{{ else }}
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8443812672116269"
     data-ad-slot="2914874272"
     data-ad-format="horizontal"
     data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{{ end }}