<meta name="twitter:card" content="summary" />
<meta name="og:title" content="{{ if .Params.tags }}#{{ index .Params.tags 0 }}{{ end }} {{ .Title }} - {{ .Site.Title }}" />
<meta name="og:description" content="{{ if .IsPage }}{{ if .Params.Excerpt }} {{ .Params.Excerpt }} {{ else }} {{ .Summary }} {{ end }} {{ else }}{{ .Site.Params.description }}{{ end }}" />
{{ if .Params.image }}
<meta name="og:image" content="{{ .Site.BaseURL }}{{ .Params.image }}" />
{{ end }}
<meta name="twitter:url" content="{{ .Permalink }}" />
<meta name="twitter:site" content="@kotetttt" />
<meta name="twitter:creator" content="@kotetttt" />